@font-face {
    font-family: 'krona_oneregular';
    src: url('fonts/krona/kronaone-regular-webfont.woff2') format('woff2'),
         url('fonts/krona/kronaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


/*Styling */
.divIntro{ 
   /*  height: 700px; */
   width: 100%;
    padding-top: 70px;
    padding-left: 20px;
   padding-right: 20px;
   /*  padding-bottom: 70px; */
   
} 

.headerLinkText{
    /*text links at top of page*/
    font-size:150% !important;
}


#tCompanyName{
    font-size: 600%;
   /*  color: white; */
    padding-top: 2px;
    /* text-wrap: nowrap; */
}

#tCompanyNameSubText{
   /*  color: white; */
    font-size: 150%;
}


/*Carousel Styling*/

#divImageCourousels{
    padding: 5%;
}

.carousel {
padding: 20px;
}

/*Text Styling*/

h1 {
    /* font-size: 50%!important; */
    font-weight: bold;
    
}

h2 {/*styling sub headings under Brand-Id carousel*/
    font-size: 90%!important;
}

/*styling headers for each section (Logos, Posters, etc)*/
.tSectionHeader {
    text-align: center; 
    font-size: 150%!important;
}

.tCenterHeading {
    text-align: center; 
    font-family: krona_oneregular;
    
}

/*Bootsrap Icon Styling*/
.bi {
    font-size: 200%;
    padding: 2%;
}

/*Nav Bar Styling*/
.nav-link {
/*     color: white;
    text-emphasis-color: white; */
    font-size: medium !important;
}

#btnHighlight {
    color:white;
    text-align: center;
    align-self: center;
}
#divHighlightButton {
    margin: auto;
}

/*Footer Styling*/

.footer 
{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5%;
    bottom: 0;
    align-items: center;
}
